@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@500&display=swap");


.seccion4 {
  padding: 0px 16px;
}

@media (min-width: 320px) {
  .seccion4 * {
    font-family: "Anek Telugu", sans-serif;
    font-size: 14px;
  }

  .seccion4 .subtituloSeccion4 {
    font-size: 17px;
    width: max-content;
    height: 26px;
    color: #6962f7;
    margin: 16px 0;
    font-weight: 600;
    line-height: 26px;
  }

  .seccion4 .h2DeBloque {
    font-size: 34px;
    width: 100%;
  }

  .seccion4 .gridSeccion4 {
    margin: 50px 0 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .seccion4 .bloquePequeno {
    margin: 8px 0;
    padding-right: 8px;
  }

  .seccion4 .bloquePequeno > .h3DeBloque {
    font-family: "Anek Telugu", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .seccion4 .bloquePequeno > .pDeBloque {
    margin: 16px 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }

  .seccion4 .bloquePequeno > .imgDeBloque {
    width: 35px;
    height: 35px;
    margin-bottom: 8px;
  }
}

@media (min-width: 551px) {
  .seccion4 {
    position: relative;
    top: 150px;
  }
  .seccion4 .gridSeccion4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .seccion4 .bloquePequeno > .imgDeBloque {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 769px) {
  .seccion4 {
    top: 200px;
  }
  
  .seccion4 .h2DeBloque {
    font-size: 40px;
  }

  .seccion4 .gridSeccion4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .seccion4 .bloquePequeno > .h3DeBloque {
    font-size: 22px;
  }
}

@media (min-width: 851px) {
  .seccion4 {
    top: 390px;
  }
}

@media (min-width: 1144px) {
  .seccion4 {
    top: 550px;
  }
}
